---
import { getCollection } from "astro:content";
import type { ContestInfo } from "../../scripts/scrape";
interface Props {
  contests: ContestInfo;
}

const { contests } = Astro.props;
const { events, years } = contests;

// Get writeups
const posts = await getCollection("blog");
const postMap = new Map<string, any[]>();
posts.forEach((post) => {
  const ctfId = post.data.ctf_id;
  console.log(post.data);
  if (ctfId === undefined) return;
  if (!postMap.has(ctfId)) {
    postMap.set(ctfId, []);
  }
  postMap.get(ctfId)?.push(post);
});
console.log(postMap);
---

<h2>Overall Performance</h2>

<ul>
  {
    years
      .toSorted((a, b) => a.year - b.year)
      .map(({ year, place, countryPlace, points }) => (
        <li>
          {year}:
          <a
            href={`https://ctftime.org/stats/${year}`}
            target="_blank"
            rel="noopener"
          >
            #{place}
          </a>
          (
          <a
            href={`https://ctftime.org/stats/${year}/US`}
            target="_blank"
            rel="noopener"
          >
            #{countryPlace}
          </a>
          in US) with {points} points
        </li>
      ))
  }
</ul>

<h2>Listing</h2>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {
      events.map(
        ({ id, name, place, points, ratingPoints, start, end, link }) => {
          const startDate = new Date(start);
          const endDate = new Date(end);
          const posts = postMap.get(id);
          return (
            <tr>
              <td>
                <div class="place">
                  <span class="placetext">
                    <span class="number">#</span>&#8288;{place}
                  </span>
                </div>
              </td>
              <td>
                <div class="ctfinfo">
                  <a name={id} />
                  <div class="name">
                    <a href={link} target="_blank" rel="noopener">
                      {name}
                    </a>
                  </div>
                  <div class="time">
                    {startDate.toLocaleDateString([], {})} -
                    {endDate.toLocaleDateString([], {})}
                  </div>
                  <div class="chips">
                    {posts !== undefined && (
                      <div class="chip">{posts.length} writeups</div>
                    )}
                  </div>
                </div>
              </td>
              <td>
                <div class="pointsinfo">
                  <div class="ratingpoints">{ratingPoints} rating</div>
                  <div class="points">{points} points</div>
                </div>
              </td>
            </tr>
          );
        }
      )
    }
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border: 1px solid gray;

    thead {
      tr {
        border-bottom: 1px solid gray;
      }

      th {
        text-align: left;
        padding: 0.75rem 1rem;
      }
    }

    tbody {
      td {
        padding: 0;
        vertical-align: middle;
      }

      .place {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        background-color: rgba(255, 0, 0, 0.4);
        font-size: 1.25rem;

        .placetext {
          margin-left: -1rem;
          padding-left: 2rem;
          padding-right: 2rem;
        }

        .number {
          position: relative;
          top: -0.25em;
          font-size: 75%;
        }

        clip-path: polygon(
          0 0,
          100% 0,
          calc(100% - 20px) 50%,
          100% 100%,
          0 100%
        );
      }

      .ctfinfo {
        padding-left: 1rem;
        padding-right: 1rem;

        .time {
          font-size: 0.8rem;
        }

        .chips {
          display: flex;
        }

        .chip {
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
          padding-right: 12px;
          background-color: #333;

          clip-path: polygon(
            0 0,
            calc(100% - 8px) 0%,
            100% 50%,
            calc(100% - 8px) 100%,
            0 100%
          );
        }
      }

      .pointsinfo {
        padding-left: 1rem;
        padding-right: 1rem;

        .points {
          font-size: 75%;
        }
      }
    }
  }
</style>
