---
import { Content as LeftBar } from "../content/leftBar.mdx";

import "@fontsource/monaspace-neon";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GopherHack</title>
  </head>
  <body>
    <section class="mainSection">
      <div class="content">
        <header>
          <div>
            <!-- left -->
            <a href={`${import.meta.env.BASE_URL}`}>GopherHack</a>
          </div>

          <div>
            <!-- right -->
            <div class="links">
              <a href={`${import.meta.env.BASE_URL}pages/contests`}>Contests</a>
              <a href={`${import.meta.env.BASE_URL}pages/blog`}>Blog</a>
              <a href={`${import.meta.env.BASE_URL}pages/resources`}
                >Resources</a
              >
              <a href={`${import.meta.env.BASE_URL}pages/officers`}>Officers</a>
            </div>

            <div class="buttons"></div>
          </div>
        </header>
        <main>
          <slot />
        </main>
      </div>
    </section>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: #beb7a2;
    background-color: black;

    font-size: 0.95rem;
    font-family: "Monaspace Neon", monospace;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffde7a;
    }
    a {
      color: #d63d61;
    }

    @media (max-width: 640px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .mainSection {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    display: flex;
    height: 100%;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-bottom: 2.5rem;
      padding-top: 2.5rem;
    }

    .links {
      display: flex;
      gap: 1rem;
    }
  }
</style>
